body, header, #cont-menu{
	margin: 0;
}

header{
	text-align: center;
}

/******************************************** 
                section LOGO
*********************************************/
#logo{
	width: 300px;
}


/************************************************
    section contenant le MENU / la NAVIGATION
*************************************************/
/* Style par defaut des elements externes */
	header{
		display: none;
	}

	#nav-mobile{
		background-color: white;
		font-size: 0.9em;
		text-align: left;
	}
	#nav-mobile h1{
		margin: 0;
		padding: 10px 0;
		margin-bottom: 10px;
	}
	#nav-mobile h1 a{
		text-decoration: none;
		color: brown;
	}
	#nav-mobile h1 a:hover{
		color: #454545;
	}

	#nav-mobile .txt-menu{
		margin: 5px 0 0;
		padding: 10px;
		background-color: brown;
	}
	.menu-led{
		padding-right: 10px;
	}
	#nav-mobile #menu-sejours, #nav-mobile #menu-association, #nav-mobile #menu-aider, #nav-mobile #menu-adherent{
		color: white;
		font-size: 1.5em;
		margin: 0 auto;
		margin: 5px 0 0;
		text-decoration: none;
		padding: 10px;
	}

	#nav-mobile .txt-ssmenu{
		margin: 2px 0 0;
		padding: 10px 10px 10px 60px;
		background-color: #eb394b;
	}
	#nav-mobile .txt-ssmenu a{
		text-decoration: none;
		color: white;
		font-size: 1.2em;
	}

	#nav-sejours, #nav-association, #nav-aider{
		height: 0px;
		overflow: hidden;
		-webkit-transition: height .2s ease-in-out;
		transition: height .2s ease-in-out;
	}

	/*	***************************	*/
	/*		VERSION ULTRA-MOBILE 	*/
	/*	***************************	*/
	@media screen and (max-width: 320px){
		/*// */
	}


	/*	**********************	*/
	/*		VERSION BUREAU 		*/
	/*	**********************	*/

	/* Media query pour le breakpoint à 1080px */
	@media screen and (min-width: 1080px){
		#nav-mobile{
			display: none;
		}

		header{
			display: initial;
		}
		#cont-menu{
			margin-top: 20px;
			padding-top: 5px;
			background-color: #540202;
			height: 41px;
		}

		#menu-ul-global, #menu-ul-global ul{
			padding:0;
			margin:0;
			list-style:none;
			text-align:center;
		}
		#menu-ul-global li{
			display:inline-block;
			position:relative;
			border-radius:8px 8px 0 0;
		}
		#menu-ul-global ul li{
			display:inherit;
			border-radius:0;
		}
		#menu-ul-global ul li:hover{
			border-radius:0;
		}
		#menu-ul-global ul li:last-child{
			border-radius:0 0 8px 8px;
		}
		#menu-ul-global ul{
			position:absolute;
			z-index: 1000;
			max-height:0;
			left: 0;
			right: 0;
			overflow:hidden;
			-moz-transition: .2s all .3s;
			-webkit-transition: .2s all .3s;
			transition: .2s all .3s;
		}
		#menu-ul-global li:hover ul{
			max-height:200em;
		}

		/* background des liens menus */
		#menu-ul-global li:first-child, #menu-ul-global li:nth-child(2), #menu-ul-global li:nth-child(3), #menu-ul-global li:nth-child(4), #menu-ul-global li:nth-child(5), #menu-ul-global li:nth-child(6), #menu-ul-global li:last-child{
			background-color: blue;
		}
		/* background des liens menus et sous menus au survol */
		#menu-ul-global li:first-child:hover, #menu-ul-global li:first-child li:hover{
			background-color: violet;
		}
		#menu-ul-global li:nth-child(2):hover, #menu-ul-global li:nth-child(2) li:hover{
			background-color: red;
		}
		#menu-ul-global li:nth-child(3):hover, #menu-ul-global li:nth-child(3) li:hover{
			background-color: red;
		}
		#menu-ul-global li:last-child:hover, #menu-ul-global li:last-child li:hover{
			background-color: red;
		}

		/* les a href */
		#menu-ul-global a{
			text-decoration:none;
			display:block;
			padding:8px 40px;
			color:#fff;
			font-family:arial;
		}
		#menu-ul-global ul a{
			padding:8px 0;
		}
		#menu-ul-global li:hover li a{
			color:#fff;
			text-transform:inherit;
		}
		#menu-ul-global li:hover a{
			color: white;
			text-transform: uppercase;
			padding:8px 29px;
		}
		#menu-ul-global li li:hover a{
			color:#000;
		}
	}


/************************************************
                formulaireContact
*************************************************/
    #form-contact{	/* balise "form", redéfinie par un ID pour avoir une + grande priorité / 1+grand poids */
        margin: 20px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #form-contact label{
		margin-left: 10px;
	}
	#form-contact input[type=text], #form-contact input[type=mail] {
	    height: 40px;
	}
	#form-contact #mess{
	    height: 100px;
	}
	#form-recaptcha{
	    margin-top: 20px;
	    margin-left: 0px;
	}
	#form-contact-btn-submit{
	    background-color: #420100;
	    padding: 10px;
	    border-radius: 10px;
	    width: 300px;
	    color: gold;
	}


/************************************************
                formulaire ADHERENT
*************************************************/
	#form-adherent{
		margin-top: 80px;
		margin-bottom: 100px;
	}
	
	#form-adherent #adherent-mail, #form-adherent #adherent-mdp{
		margin: 0 auto;
		margin-top: 10px;
		padding: 10px;
	    border-radius: 10px;
	    width: 600px;
	}
	#form-adherent #adherent-btn-submit{
		margin-top: 20px;
	    background-color: #420100;
	    padding: 10px;
	    border-radius: 10px;
	    width: 300px;
	    color: gold;
	}
	
	#adherent-mdp-perdu{
		margin-top: 40px;
	}
	#adherent-mdp-perdu{
		color: black;
		font-style: italic;
	}
	#adherent-mdp-perdu a{
		color: red;
		font-weight: bold;
		text-decoration: none;
	}
	#adherent-mdp-perdu a:hover{
		text-decoration: none;
	}


/************************************************
                FOOTER
*************************************************/
    #cont-footer{	/* footer, redéfini par un ID pour avoir une + grande priorité / 1+grand poids */
    	background-color: #420100;
    	color: white;
	}
	
	#footer-plan-ul li{
		margin: 5px;
		list-style-type: none;
		font-size: 1em;
        
	}
	
    #cont-footer h4{
        font-size: 1.2em;
        margin: 10px;
        text-decoration: underline;
       
    }
    
    #adresse{
        font-size: 1.2em;
    }
    #adresse, #soc-fb, #soc-yt{	/* redéfinition des liens (a) du footer par un ID pour avoir une + grande priorité / 1+grand poids */
    	color: white;
    	text-decoration: none;
	}
    #adresse:hover, #soc-yt:hover{
        color: #E52D27;
        text-decoration: none;
    }
    #soc-fb:hover{
        color: #3B5998;
        text-decoration: none;
    }
    #adresse i, #soc-fb i, #soc-yt i{
		margin: 10px;
	}
    #teleph{
        font-size: 1.2em;
    }
    #res-soc a{		/* h4 "Réseaux sociaux :" */
        display: inline;
    }
    
	#pied{
		margin-bottom: 10px;
		font-size: 1em;
    }
